button {
    outline: none;
   
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    /* white-space: nowrap; */
    /* vertical-align: middle; */
    -ms-touch-action: manipulation;
    /* touch-action: manipulation; */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background-image: none; */
    border: 1px solid transparent;
    border-radius: 4px;
}

    .btn:active {
        background-color: #9f9f9f;
    }

    .btn-yellow{
        background-color:#e2c431;
    }

.loading {
    width: 60px;
    height: 60px;
    background-color: #1e2a37;
    display:none;
    margin: 200px auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

.input {
    border: 0;
    outline: none;
    font-size: 15px;
    font-family: Consolas;
    height: 30px;
    width: 100%;
    line-height: 30px;
    color: #fff;
    
    text-indent: 15px;
    color: #b4b4b4;
}
.alert-default {
    position: absolute;
    color: #fff;
    top: 0;
    
    margin: 180px auto 0;
    max-width:250px;
    transform: translateX(-250px);
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    word-break: break-word;
    padding: 5px;
    transition: all ease-in-out .5s;
}

    .alert-default span {
        
        font-size:16px;
    }


@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px);
        background-color:#fff;
        
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
        background-color: #000;
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
        background-color: #fff;
    }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        background-color: #fff;
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        background-color: #000;
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        background-color: #fff;
    }
}
