.index_wrap {
    position: relative;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.blog-edit {
    position:absolute;
    display: none;
    margin: 0px auto;
    height: 380px;
    width: 650px;
    border-radius: 8px;
    background:#fff;
}

    .blog-edit .head {
        display: flex;
        justify-content: flex-end;
        
        cursor: pointer;
    }

#btnCloseBlog {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #1d92a6;
    text-align: center;
    line-height: 18px;
    border-radius: 25px;
    color: #fff;
    border: 2px solid #fff;
    right: -13px;
    top: -13px;
    transition: .5s;
    cursor: pointer;
}
    #btnCloseBlog:hover{
        transform:rotate(180deg);
    } .blog-edit .content .title {
        display: flex;
        justify-content: flex-start;
        border: 2px solid #dedede;
        margin-bottom: 10px;
    }

    .blog-edit .content .text-edit {
        overflow: hidden;
    }

    .blog-edit .foot {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
    }

.blog-edit-wrap {
    padding: 8px;
    border: 2px solid #dedede;
}

.blog-wrap {
    width: 75%;
}

    .blog-wrap .list .block {
        background: #fff;
        margin-bottom: 10px;
        line-height: 50px;
        overflow: hidden;
        margin-bottom: 15px;
        border-radius: 2px;
        font-size: 15px;
        font-weight: 300;
        box-shadow: 0 1px 10px #ccc;
    }
    #wangEditor {
        background-color: #fff;
    }
