* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/bgxingkong.png) no-repeat;
    background-size: cover;
    overflow:hidden;
}

.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    border: none;
}

ul li {
    list-style: none;
}


.container {
    height:100%;
    width:100%;
}
.header {
    width: 100%;
    top: 0;
    display: flex;
    background: #000;
    flex-flow: nowrap;
    justify-content: center;
    height: 50px;
}

    .header .title {
        display: flex;
        justify-content: flex-end;
        font-size: 25px;
        font-family: Consolas;
        width: 30%;
        color: #fff;
        line-height: 50px;
    }

    .header .menu {
        color: #fff;
        width: 40%;
    }

    .header .search-wrap {
        line-height: 50px;
        width: 30%;
    }

        .header .search-wrap input[type="text"] {
            background: rgb(68, 68, 68);
            width: 230px;
            margin: auto;
        }

    .header .menu ul {
        display: flex;
        justify-content: space-around;
        line-height: 50px;
    }

.right-con {
    position: fixed;
    border-radius: 2px;
    margin-left: 70%;
    width: 300px;
    height: 400px;
    background-color: transparent;
    top: 80px;
}

    .right-con .sign-wrap {
        background: rgba(0,0,0,.3);
        text-align: center;
        color: #ccc;
        height: 50%;
    }

        .right-con .sign-wrap .block {
            border-bottom: 1px solid #555;
        }

        .right-con .sign-wrap .git {
            font-size: 15px;
            line-height: 45px;
        }
#userWrap {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center; /*垂直居中*/
}
    #userWrap .info {
    margin:0 15px;
    }
    .icon-tuichu:hover{cursor:pointer;}

        #userWrap .info .name {
        font-size:20px;
        font-weight:bold;
        }
        #userIcon {
            width: 50px;
            height: 50px;
            transition: .2s;
            border-radius: 50%;
        }

    #userIcon:hover {
        border-radius: 10px;
    }

.button-group span{
    font-size:18px;
    cursor:pointer;
}

.index_wrap{width:70%;height:100%;}
