* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/bg.png) no-repeat;
}

.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    border: none;
}

ul li {
    list-style: none;
}

input {
    border: 0;
    outline: none;
    font-size: 15px;
    font-family: Consolas;
    background: rgba(0,0,0,.4);
    height: 30px;
    width: 100%;
    margin-top: 15px;
    line-height: 30px;
    color: #fff;
    border-radius: 30px;
    text-indent: 15px;
    color: #b4b4b4;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    background: #000;
    flex-flow: nowrap;
    justify-content: center;
    height: 50px;
}

    .header .title {
        display: flex;
        justify-content: flex-end;
        font-size: 25px;
        font-family: Consolas;
        width: 30%;
        color: #fff;
        line-height: 50px;
    }

    .header .menu {
        color: #fff;
        width: 40%;
    }

    .header .search-wrap {
        line-height: 50px;
        width: 30%;
    }

        .header .search-wrap input[type="text"] {
            background: rgb(68, 68, 68);
            width: 230px;
            margin: auto;
        }

    .header .menu ul {
        display: flex;
        justify-content: space-around;
        line-height: 50px;
    }

.right-con {
    position: fixed;
    border-radius: 2px;
    margin-left: 70%;
    width: 300px;
    height: 400px;
    background-color: transparent;
    top: 80px;
    
}

    .right-con .sign-wrap {
        background: rgba(0,0,0,.3);
        text-align: center;
        cursor: pointer;
        color: #ccc;
        height:50%;
    }

    .right-con .sign-wrap .block{
        border-bottom:1px solid #555;
    }

        .right-con .sign-wrap .git {
            font-size: 15px;
            line-height: 45px;
        }

