@model IndexView
@section head{
    <link href="~/css/index.css" rel="stylesheet" />

    <link href="~/plugin/wangeEditor/wangEditor.css" rel="stylesheet" />
    <script src="~/plugin/wangeEditor/wangEditor.js"></script>

}
<div class="grey-bg">
    <div class="blog-edit">
        <div class="blog-edit-wrap">
            <div class="head"><span id="btnCloseBlog">x</span></div>
            <div class="content">
                <div class="title">
                    <input id="txt_title" type="text" class="input" placeholder="Please input title" />
                </div>
                <div class="text-edit">
                    <div id="editor">

                    </div>
                </div>
            </div>
            <div class="foot">
                <div><button class="btn" type="button" id="btnCommitBlog">Commit</button></div>
            </div>
        </div>
    </div>
</div>
<div class="index_wrap">
    <div class="right-con">
        <div class="sign-wrap">
            @if (!Model.IsLogin)
            {
                <div style="cursor:pointer;" id="gitSignIn" class="block"><a class="git"><i style="margin-right:10px;" class="iconfont icon-Git"></i>Github Sign In</a></div>
            }
            @if (Model.IsLogin)
            {
                <div id="userWrap" class="block">
                    <div class="icon"><img id="userIcon" src="@Model.User.Avatar_url" /></div>
                    <div class="info">
                        <div>
                            <span class="name" id="userName">@Model.User.NickName</span>
                        </div>
                        <div>
                            <span id="userEmail">@Model.User.Email</span>
                        </div>

                    </div>
                    <div><i id="icon_signOut" class="iconfont icon-tuichu"></i></div>
                </div>
                <div class="button-group">
                    <div><span id="btnBlog">Add New</span></div>
                </div>
            }
        </div>
    </div>
    <div class="blog-wrap scrollbar">
        <ul class="list" id="blog_container"></ul>
    </div>



</div>

@section Scripts{
    <script>
        (function () {
            var isLogin = (function () {
                var loginFlag = '@Model.IsLogin';
                return (loginFlag === 'True') ? true : false;
            })();
            init();
            function init() {
                initEvent();
                initEditor();
                if (isLogin) {
                    initBlogs();
                }
            }
            function initEvent() {
                var $blogDiv = $(".grey-bg");
                $("#btnBlog").click(function () {
                    $blogDiv.show();
                });
                $("#btnCloseBlog").click(function () {
                    $blogDiv.hide();
                });

            }

            function initEditor() {
                var E = window.wangEditor;
                var editor = new E('#editor');
                // 自定义菜单配置
                editor.customConfig.menus = [
                    'head',  // 标题
                    'bold',  // 粗体
                    //'italic',  // 斜体
                    //'underline',  // 下划线
                    //'strikeThrough',  // 删除线
                    //'foreColor',  // 文字颜色
                    //'backColor',  // 背景颜色
                    'link',  // 插入链接
                    'list',  // 列表
                    'justify',  // 对齐方式
                    'quote',  // 引用
                    'emoticon',  // 表情
                    'image',  // 插入图片
                    'table',  // 表格
                    'video',  // 插入视频
                    'code',  // 插入代码
                    'undo',  // 撤销
                    'redo'  // 重复
                ];

                editor.create();
                $("#btnCommitBlog").click(function () {
                    var url = config.api_url + "/BlogApi/NewBlog";
                    var reg = /<img[^>]*>/;
                    var pic = editor.txt.html().match(reg);
                    var picSummary = "";
                    if (!!pic) { picSummary = pic[0]; }
                    var data = {
                        title: $("#txt_title").val(),
                        html: editor.txt.html(),
                        summary: editor.txt.text().substr(0, 200),
                        picSummary: picSummary
                    };
                    ajaxRequest.post(data, url).done(function (d) {
                        if (d) {
                            $(".grey-bg").hide();
                            alert("Success", function () {
                                editor.txt.clear();
                                $("#txt_title").val("");
                                window.location.reload();
                            })
                        }

                    });
                });

            }

            function initBlogs() {
                var url = config.api_url + "/BlogApi/GetBlogs";
                var data = {

                };
                ajaxRequest.get(data, url).done(function (d) {
                    d.forEach(function (v) {
                        blogObj.newBlock(v);
                    });

                });
            }

            function blog(containerId) {

                this.init(containerId);
            }

            blog.prototype.init = function (id) {
                this.$container = $(id);
            }
            blog.prototype.newBlock = function (data) {
                var $li = $("<li></li>").appendTo(this.$container);
                var $block = $("<div class='block'></div>").appendTo($li);
                var $title = this.newTitle(data.title).appendTo($block);
                var $content = this.newContent(data.summary).appendTo($block);
                //var $tail = this.newTail.appendTo($block);
                

            }
            blog.prototype.newTitle = function (text) {
                var $title = $("<div class='title'>" + text + "</div>");
                return $title;
            }
            blog.prototype.newContent = function (text) {
                var $content = $("<div class='content'>" + text + "...</div>");
                return $content;
            }
            blog.prototype.newTail = function (text) {
                var $tail = $("<div class='tail'>" + text + "</div>");
                return $tail;
            }


            var blogObj = new blog("#blog_container");
        })();
    </script>
}