@model IndexView
@section head{
    <link href="~/css/index.css" rel="stylesheet" />

    <link href="~/plugin/wangeEditor/wangEditor.css" rel="stylesheet" />
    <script src="~/plugin/wangeEditor/wangEditor.js"></script>

}
<div class="index_wrap">
    <div class="blog-wrap">
        <ul class="list" id="blog_container"></ul>
    </div>
    <div class="blog-edit">
        <div class="blog-edit-wrap">
            <div class="head"><span id="btnCloseBlog">x</span></div>
            <div class="content">
                <div class="title">
                    <input id="txt_title" type="text" class="input" placeholder="Please input title" />
                </div>
                <div class="text-edit">
                    <div id="editor">

                    </div>
                </div>
            </div>
            <div class="foot">
                <div><button class="btn" type="button" id="btnCommitBlog">Commit</button></div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script>
        (function () {
            init();

            function init() {
                initEvent();
                initEditor();
                initBlogs();
            }
            function initEvent() {
                var $blogDiv = $(".blog-edit");
                $("#btnBlog").click(function () {
                    $blogDiv.show();
                });
                $("#btnCloseBlog").click(function () {
                    $blogDiv.hide();
                });

            }

            function initEditor() {
                var E = window.wangEditor;
                var editor = new E('#editor');
                // 自定义菜单配置
                editor.customConfig.menus = [
                    'head',  // 标题
                    'bold',  // 粗体
                    //'italic',  // 斜体
                    //'underline',  // 下划线
                    //'strikeThrough',  // 删除线
                    //'foreColor',  // 文字颜色
                    //'backColor',  // 背景颜色
                    'link',  // 插入链接
                    'list',  // 列表
                    'justify',  // 对齐方式
                    'quote',  // 引用
                    'emoticon',  // 表情
                    'image',  // 插入图片
                    'table',  // 表格
                    'video',  // 插入视频
                    'code',  // 插入代码
                    'undo',  // 撤销
                    'redo'  // 重复
                ];
    
                editor.create();
                $("#btnCommitBlog").click(function () {
                    var url = config.api_url + "/BlogApi/NewBlog";
                    var data = {
                        title: $("#txt_title").val(),
                        html: editor.txt.text()
                    };
                    ajaxRequest.post(data, url).done(function (d) {
                        if (d) {
                            alert("Success", function () {
                                $(".blog-edit").hide();
                                editor.txt.clear();
                                $("#txt_title").val("");
                            })
                        }

                    });
                });

            }

            function initBlogs() {
                var url = config.api_url + "/BlogApi/GetBlogs";
                var data = {

                };
                ajaxRequest.get(data, url).done(function (d) {
                    d.forEach(function (v) {
                        blogObj.newBlock(v);
                    });

                });
            }

            function blog(containerId) {

                this.init(containerId);
            }

            blog.prototype.init = function (id) {
                this.$container = $(id);
            }
            blog.prototype.newBlock = function (data) {
                var $li = $("<li></li>").appendTo(this.$container);

                var $div = $("<div></div>").addClass("block").appendTo($li);
                $div.text(data.title);

            }

            var blogObj = new blog("#blog_container");
        })();
    </script>
}